*{
    font-family: sans-serif;
}
body{
    padding-right: 0;
    position: relative;
    font-size: 16px;
    color: black;
}
.menu{
    height: 20px;
    margin-top: 20;
}

.nav{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 20px 40px;
    margin: 0;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    border-bottom: 1px solid gray;
}
.id{
    /* width: 500px; */
    height: 28px;
} 
.menu a{
    text-decoration: none;
    color: navy;
    display: inline;
}
#select{
    background-color: white;
    color: navy;
    border: none;
}
.free{
    border-radius: 8px;
    color: white;
    background-color: rgb(0, 85, 255);
    border: none;
    padding: 12px;
    font-weight: 600;
    font-size: 16px;
    width: 360px;
}
.grid{
    grid-template-columns: 38vw 62vw;
    height: 700px;
    width: 100%;
    display: flex;    
}
.dem{
    height: 700px;
    background-color: rgb(243, 243, 243);
    width: 40%;
    padding-left: 17%;
    box-sizing: border-box;
}
.dem2{
    height: 700px;
    width: 60%;
    padding-left: 100px;
    text-align: center;
}
.img{
    position: absolute;
    top: 250px;
    width: 420px;
}
input{
    width: 360px;
    box-sizing: border-box;
    margin: 20px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 16px;
    padding-left: 10px;
}

.hr{
    display: flex;
    color: gray;
    justify-content:center;
    font-size: 14px;
}
hr{
    width: 100px;
    margin-left:10px ;
    margin-right:10px ;
    color: gray;
}
.pren{
    color: gray;
    padding-left: 30px;
    margin-bottom: 20vh;
    display: flex;
    justify-content: space-around
}
h1{
    padding-top: 100px;

}
a{
    text-decoration: none;
}
.p{
    width: 30vw;
    margin: auto;
}
.eng{
    height: 200px;
    display: none;
}

@media screen and (max-width:1125px) {
    .grid{
        display: block;
        text-align: center;
    }
    .eng{
        display: inline;
        margin: auto;
    }
    .img{
        display: none;
    }
    .dem{
        height: 400px;
        width: 100%;
        padding-top: 100px;
    }
    .dem2{
        width: 100%;
        box-sizing: border-box;
        padding-left: 0;
        text-align: center;
    }
    .p{
        width: 300px;
        /* margin: 0; */
    }
}
@media screen  and ( max-width:768px){
    span, .gayab{
        display: none;
    }
    #gayab{
        display: none;
    }
    .free, #inp{
        width: 70%;
    }
    hr{
        width: 30%;
    }
    
    .dem2 img {
        width: 70%;
        text-align: center;
    }
    .pren{
        font-size: 8px;
    }
}