*{
    font-family: sans-serif;
    color: white;
    box-sizing: border-box;
}
body{
    background-color: rgb(017, 017, 22);
    margin: 0;
}
.nav{
    background-image: linear-gradient(rgb(42, 62, 58), rgb(36, 87, 117), rgb(017, 017, 22));
    text-align: center;
    padding-bottom: 100px;
    width: 100vw;
}

.language-image{
    width: 100vw;
    max-width: 1040px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 24px 40px;
    background-color: transparent;
    box-sizing: border-box;
}

.search{
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.155);
    width: 400px;
    height: 50px;
    border-radius: 15px;
    border: none;
    font-size: 24px;
    color: white;
    padding-left:20px ;
}
.search::placeholder{
    color: white;
}
.language-image > img{
    width: 200px;
}
.language{
    display: flex;
    align-items: center;
}

select{
    background-color: transparent;
    border: none;
}

.heading p{
    color: white;
    font-size: 24px;
    font-weight: 600;
}

.body{
    width: 100vw;
    max-width: 960px;
    margin: auto;
    box-sizing: border-box;
}
.image{
    width: 35px;
    height: 35px;
    background-color: rgb(0, 183, 255);
    border-radius: 5px;
}

.image img{
    width: 23px;
    height: 23px;
    margin: 6px;
}
.edge{
    display: flex;
    width: 100%;
    gap: 60px;
    margin-top: 40px;
}

.started{
    width: 450px;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: space-between;
    transition: all 0.5s ease;
}

.bold{
    font-weight: 600;
    margin:  8px 0;
}

.norm{
    margin:8px 0;
}

.small{
    margin: 0;
    font-size: 12px;
}

.help{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px 20px;
    transition: all 0.5s ease;
}

.blue{
    color: aqua;
    font-size: 16px;
}

.looking{
    width: 100vw;
    max-width: 960px;
    margin: 75px auto;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    border: 1px solid gray;
    border-radius: 20px;
    box-sizing: border-box;
}

.graph{
    font-size: 28px;
    font-weight: 600;
    width: 460px;
    margin: 0 auto 24px;
}

.graph +p{
    margin: 0 auto;
    width: 470px;
}
.logo{
    text-align: center;
}

.logo>img{
    width: 200px;
}
.social img{
    width: 16px;
    margin-bottom: 50px;
    margin-top: 30px;
}

.started:hover, .help:hover{
    border: 1px solid rgb(0, 183, 255);
}

.started:hover .bold{
    color: rgb(0, 157, 220);
}

@media screen and (max-width:1060px) {
    .edge{
        display: block;
        box-sizing: border-box;
    }

    .started,.help,.looking{
        margin: 30px;
        width: 91vw;
        box-sizing: border-box;
    }
}


@media screen and (max-width:660px) {
    .search,.graph,.graph+p{
        margin: 30px;
        width: 90%;
        box-sizing: border-box;
    }

    .looking{
        padding-top: 30px;
        padding-top: 30px;
    }
}