body{
    background-color: #06061b;
    text-align: center;
    color: gray;
    font-family: sans-serif;
    z-index: -3;
    position: relative;
    font-weight: 600;
    margin: 0;
}
.display img{
    padding-top: 12px;
    height: 15px;
}

.hamburger-menu {
    display: none;
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    padding: 0;
}

.hamburger-menu svg {
    width: 28px;
    height: 28px;
    stroke: white;
    margin-top: 6px;
}


.mixed,.selec,.learn{
    background-color: rgba(176, 176, 176,0.2);
    border: none;
    height: 30px;
    padding: 5px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
    cursor: pointer;
}

.mixed{
    background-image: linear-gradient(210deg, aqua, rgb(0, 136, 255), rgb(44, 67, 82));
}

.selec{
    color: gray;
    padding-left: 0;
    background-color: transparent;
    font-size: 14px;
    margin-top: 0;
}
.learn{
    background-color: #00d1ff;
    color: black;
    font-size:16px ;
}
.learn:hover {
    background-color: #00aacc; 
}
.mixed:hover {
    background-color: rgba(176, 176, 176, 0.4);
}

.option{
    display: flex;
    gap: 30px;
    align-items: center; 
}

.option a{
    text-decoration: none;
    color: gray;
}
.option a:hover,.option select:hover,.white{
    text-decoration: none;
    color: white;
}

.kont{
    display: flex;
    align-items: center;
    gap: 30px;
}
.nav{
    background-color:transparent;
    justify-content: space-between;
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10; 
    align-items: center;
    padding: 10px 60px;
    backdrop-filter: blur(10px);
}

.load{
    margin-top: 100px;
    font-size: 60px;
    font-weight: 600;
    color: white; 
}
.sip{
    font-weight: normal;
    color: white; 
    font-size: 32px;
    margin-bottom: 20px;

}

.stak{
    display: flex;
    background-color: rgba(46, 18, 91, 0.192);;
    justify-content: center;
    border-radius: 20px;
    gap: 20px;
    margin:30px auto;
    width: 95%;
    max-width: 1200px;
}
.stake{
    background-color: transparent;
}

.stak>img{
    max-width: 580px;
    max-width: 30vw;
    height: 580px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.rad{
    margin-top: 50px;
    text-align: left;
    padding-left: 50px;
    width: 613px;
}

.usd{
    background-color: rgba(30, 30, 63, 0.497);
    padding: 20px;
    border-radius: 10px;
}
.cast, .out{
    display: flex;
    align-content: center;
    gap: 10px;
}
.pod{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.cast img{
    width: 32px;
    height: 32px;
}

.large{
    color: white;
    margin: 8px;
}

.large+p{
    margin: 8px;
    font-size: 12px;
}

.blue{
    color: aqua;
}
.exc, .mixin{
    background-color: rgba(176, 176, 176,0.2);
    color: gray;
    border: none;
    height: 30px;
    padding: 5px 20px;
    margin: 10px 0;
    border-radius: 5px;
    width: 100%;
    transition: background-color 0.3s;
    cursor: pointer;
}
.mixin{
    background-image: linear-gradient(210deg, aqua, rgb(0, 136, 255), rgb(44, 67, 82));
    font-size: 20px;
    color: black;
    padding: 10px;
    height: 40px;
}

.tran{
    background-color: transparent;
    border: 1px solid rgba(128, 128, 128, 0.259);
    color: aqua;
    height: 30px;
    padding: 5px 20px;
    margin: 10px 0;
    border-radius: 5px;
    width: 49%;
    transition: background-color 0.3s;
    cursor: pointer;
}

.two img{
    width: 500px;
}

.two{
    height: 270px;
    width: 49.9%;
    text-align: left;
    padding: 40px;
}
.grind + p {
    font-weight: 100;

}
.grind{
    color: #fff;
    font-size: 24px;
    margin-bottom: 15px
}
.dimi{
    display: flex;
    justify-content: space-between;
}
.larger{
    color: #fff;
    margin: 25px 0 15px;
    height: 18px;
}

.division{
    width: 30vw;
    max-width: 380px;
    background-color: rgba(30, 30, 63, 0.497);
    padding: 20px;
    box-sizing: border-box;
    border-radius: 15px;
}

.triplet{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.sion a{
    text-decoration: none;
    color: aqua;
}
.sion a:hover{
    text-decoration: underline;
}

.chakra-icon{
    width: 150px;
}

.footer{
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin:50px auto 0;
    box-sizing: border-box;
}

.foot{
    background-color: rgba(30, 30, 63, 0.497);
    width: 100%;
}

.lame{
    display: flex;
    align-items: center;
    gap: 20px;
}

.lame a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-weight: 100;
}

@media screen and (max-width:1000px) {
    .option{
        display: none;
    }
    
    .stake{
        display: block;
    }
    .triplet{
        display: block;
        width: 100%;
    }
    .two,.division{
        width: 95%;
        margin: 30px 30px 30px 0;
        box-sizing: border-box;
        height: auto;
    }    
    .division{
        margin: 30px 15px 30px 15px;
        max-width: 95vw;
    }

    .two img{
        width: 85vw;
    }
    .hamburger-menu {
        display: block;
        z-index: 102;
    }
}


@media screen and (max-width:768px) {
    .rad{
        width: 100vw;
        box-sizing: border-box;
        margin-bottom: 30px;
        margin-right: 25px;
        padding-left: 25px;
    }

    .stak>img{
        display: none;
    }

    
}