*{
    text-decoration: none;
}

.twoDiv{
    display: flex;
}

.first{
    margin: 50px 30px;
    color: rgb(69, 69, 69);
    background-color: rgb(196, 196, 196);

}

#bold{
    margin-top: 50px;
    font-size: 24px;
}

.first p{
    margin: 12px 40px;
}


.sear{
    display: flex;
    gap: 16px;
    justify-content: space-between;
    padding: 0 30px;
}

input{
    width: 500px;
    height: 32PX;
}
#ID{
    height: 32px;
}

.biggy{
    font-size: 38px;
}
.div{
    display: flex;
    padding-left: 50px;
    gap: 40px;
}

.heavy{
    font-size: 20px;
}
p{
    margin: 0;
}
footer{
    border-top: 1px solid black;
    font-size: 12px;
    text-align: right;
}